* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: pink;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-family: sans-serif;
    
}

input{
    text-align: center;
    text-size: 200%;
}