* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    background-color: gold;
    font-family: sans-serif;
    
}

#name{
    text-align: center;
    font-size: 300%;
    font-family: Impact;
}

video {
    border: groove black 20px;
}

h1{
    background-color: lightgoldenrodyellow;
    padding: 1%;
    border: groove darkolivegreen 5px;
}