@font-face { font-family: Delicious; src: url('fonts/PixelCowboy-l7we.ttf'); } 



#road {
    animation: myAnim 5s linear 0s infinite normal forwards;
    overflow: inherit;
}

@keyframes myAnim {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0); /* The image width */
    }
  }



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-family: Delicious;
}


.heading {
    background-color: pink;
}

.raceCanvas {
    background-color: blue;
    width: 80%;
    height: 400px;
}

