@font-face { font-family: Delicious; src: url('fonts/PixelCowboy-l7we.ttf'); } 
    



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-family: Delicious;
    text-align: center;
    margin: 32px;
    background-color: white
}



#raceCanvas {
    background-image: url("../../assets/graphics/bg_raceAnim.gif");
}

