@font-face { font-family: Delicious; src: url('fonts/PixelCowboy-l7we.ttf'); } 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: Delicious;
}

h1{
    text-decoration: underline;
    height: 10vh;
}

#currentStats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Delicious;
    justify-content: space-evenly;
    width: 80%;
    height: 30vh;
}

#currentStats > p {
    width: 50%;
    padding: 20px;
    font-size: 140%;
}

#trainOptions {
    height: 10vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#trainOptions > button {
    width: 13vw;
    font-size: 200%;
    height: 50%;
}


#trainedHistory {
    height: 35vh;
    max-height: 35vh;
    width: 100%;
    text-align: center;
    overflow: auto;
}

#readyUp {
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 15vh;
    width: 100%;
    font-size: 400%;
}